body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
  text-align: center;
  background: url("image/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* Gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px;
  padding-bottom: 20px;
}

.game-card {
  background-color: #fff8dc;
  border: 2px solid #ffcc00;
  border-radius: 15px;
  width: 200px;
  padding: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.game-card:hover {
  transform: scale(1.05);
}

.game-card img {
  width: 100%;
  border-radius: 10px;
}

.game-card h3 {
  color: #ff6600;
  margin: 10px 0 5px 0;
}

